/**
 * 
 * style.css
 * 
 * #1B1D22 - DARK BLUE
 * #475D6D - MEDIUM BLUE
 * #8D98A5 - BLUE GRAY
 * #262626 - MEDIUM GRAY
 * #BFBBAE - LIGHT GRAY
 * #3C6656 - DARK GREEN BLUE
 * 
 */

/**
 * 1. Global
 */

*{
	margin: 0;
	padding: 0;
}

body{
	background: #BFBBAE;
	font-family: "Oswald", serif;
	font-weight: 300;
	height: 100%;
}

.datetime{
	background: #262626;
	border-radius: 3px;
	clear: both; 
	color: #BFBBAE;
	float: right; 
	margin: 5px 0 0 5px;
	padding: 5px;
}

.logo{
	background: url('images/panelLogo.png');
	height: 97px;
	margin: auto auto 25px;
	width: 300px;
}

.panel{
	float: left;
	height: 100%;
	padding: 20px;
}

.person{
	border-radius: 6px;
	box-shadow: 0 1px 2px #1B1D22;
	clear: both;
	color: #BFBBAE;
	margin: 10px 0 0;
	padding: 10px;
	width: 75%;
}

.personA{
	background: #475D6D;
	float: left;
}

.personB{
	background: #525C4A;
	float: right;
}

.conversation{
	background: #8D98A5;	
	box-shadow: 1px 0 3px #1B1D22;
	overflow: scroll;
	width: 20%;
}

	.conversation button{
		background: #262626;
		border: 0;
		border-radius: 5px;
		color: #BFBBAE;
		font-size: 14px;
		padding: 7px 10px;
	}

	.conversation h2{
		font-size: 20px;
		font-weight: 300;
		text-align: center;
	}

	.conversation h3{
		font-size: 14px;
		font-weight: 300;
		text-align: center;
	}

	.conversation hr{
		clear: both;
		margin: 10px 0;
	}

	.conversation textarea{
		background: #BFBBAE;
		border: 0;
		border-radius: 5px;
		box-shadow: inset 1px 1px 3px #262626;
		font-family: "Oswald", serif;
		font-size: 16px;
		font-weight: 300;
		height: 45px;
		margin: 10px 0 0;
		padding: 10px;
		width: 94%;
	}

	

.comments{
	padding: 35px 20px;
	width: 75%;
}

	.comments .hot{
		background: #8D98A5;
		border: 0;
		border-radius: 5px;
		box-shadow: 0 1px 2px #666;
		padding: 10px;
		width: 500px;
	}

		.comments .hot h4{
			font-size: 24px;
			font-weight: 300;
		}

		.comments .hot span{
			display: block;
			margin: 20px 0 0;
		}

	.comments .runnerUp{

	}

	.comments .runnerUp li{
		background: #8D98A5;
		border: 0;
		border-radius: 5px;
		box-shadow: 0 1px 2px #666;
		padding: 10px;
		width: 500px;
		list-style-type: none;
	}